body {
	background-color: #EEEEEE;
	font-family: sans-serif;
	margin-bottom: 4vh;
}

ul {
	margin: 0;
}

h1 {
	margin-bottom: 1vh;
}

h2 {
	font-size: 20px;
	text-align: left;
}

img {
	max-width: 80%;
	display: block;
	height: auto;
}

#main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#img-div {
	width: 100%;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	line-height: 2;
}

#tribute-info {
	max-width: 40%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

#tribute-info h2 {
	margin: 7vh 0 1vh 3vh;
}

#quote {
	max-width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

#quote p {
	margin-top: .4vh;
}

#footer {
	font-weight: bold;
}


